<a href="https://colab.research.google.com/github/aryana322/numpy/blob/main/Aryan_033.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(18+15)
print(2**3)

33
8

## if we use single star then it will multiply and if we use double star then it will show power.

In [ ]:
import random
# x,y=2.0,3.4
# print("the variable is l is:")
# print(x)
# print(y)
# print("this variables are {0} and {1}".format(x,y))
# print("hello \n"+"world")

# num1=int(input("enter the number1"))
# num2=int(input("enter the number2"))
# z= num1+num2
# print(z)
# print(type(z))
# dir(__builtins__)
# help(eval)
# max(3,46,9)
min("hello","how","are")
z= random.random()
print(z)
if z<0.5:
  print("player1")
else:
  print("player2")

0.8224300055935053
player2

In [ ]:
import math
z=math.fabs(-3.5)
x=math.floor(3.4)
y=math.ceil(4.5)

print(x,y,z)

3 5 3.5

In [ ]:
def rectangle(l,b):
  a=l*b
  print("area is {0}".format(a))
  return a
def main():
  length = int(input("enter the length"))
  breadth=int(input("enter the breadth"))
  z=rectangle(length,breadth)
  print("area is {0}".format(z))
main()

enter the length4
enter the breadth5
area is 20
area is 20

In [ ]:
!python /content/Module1.py

In [ ]:
import Module1
z=Module1.cube(5)
print(z)

125

In [12]:
import sqlite3
conn=sqlite3.connect('HIT.db')
cur=conn.cursor()
# cur.execute('create table student4(rollno int\
#  primary key check(typeof(rollno) ="integer"),\
#  name varchar(23) check(typeof(name)="text"),\
#  percentage int check(typeof(percentage) = "integer"));')
# print('Table created')

# cur.execute('select * from sqlite_master')
# print(cur.fetchall())
#inserting data into student one at a time

cur.execute('insert into student values(32,"Nida Parveen",30)')
cur.execute('insert into student values(34,"Priya Singh",36)')
cur.execute('insert into student values(28,"Aryan Kumar Shah",28)')
cur.execute('insert into student values(40,"Altracuaz Volkovich",34)')
cur.execute('insert into student values(36,"Alexandra Daddario",38)')
cur.execute('select * from student')
print(cur.fetchall())

[(32, 'Nida Parveen', 30), (34, 'Priya Singh', 36), (28, 'Aryan Kumar Shah', 28), (40, 'Altracuaz Volkovich', 34), (36, 'Alexandra Daddario', 38)]

In [30]:
import sqlite3
list1=[(12,"abc",89),(14,"rty",56),(16,"eryu",89)]
conn1=sqlite3.connect('HITK4.db')
cur1=conn1.cursor()
cur1.execute('create table student43(rollno int\
primary key check(typeof(rollno) ="integer"),\
name varchar(23) check(typeof(name)="text"),\
percentage int check(typeof(percentage) = "integer"));')
cur1.executemany('insert into student43 values(?,?,?)',list1)
cur1.execute('select * from student43')
print(cur1.fetchall())

[(12, 'abc', 89), (14, 'rty', 56), (16, 'eryu', 89)]

In [22]:
roll1=int(input('enter roll'))
name1=input('enter name')
per=int(input('enter percentage'))
cur1=conn1.cursor()
cur1.execute('insert into student43 values(?,?,?)',(roll1,name1,per))
cur1.execute('select count(*) from student43')
print(cur1.fetchall())

enter roll56
enter namesuraj
enter percentage87
[(5,)]

In [25]:
namee=input('enter name')
cur1=conn1.cursor()
cur1.execute('select * from student43 where name = :value',{'value':namee} )
print(cur1.fetchall())

enter nameabc
[(12, 'abc', 89)]

In [31]:
cur1=conn1.cursor()
z=cur1.execute('select * from student43 where name=?',(namee,))
for i in z:
  print("Roll no:",i[0])
  print("Name:",i[1])

Roll no: 12
Name: abc